body{
  margin: 0;
  padding: 0;
  background-color: #372324;
  color: #cad8a3;
  font-family: "Cormorant", serif;
  font-size: 15pt;
  font-weight: 500;
}

button{
  padding: 20;
  width: 80px;
  height: 40px;
  margin: 0;
  border: #f66024;
  border-radius: 10px;
  border-width: 5px;
  color: #372324;
  background-color: #f66024;
  font-family: "Cormorant", serif;
  font-size: 15pt;
  font-weight: 500;
}

p{
  padding: 0;
  margin: 0;
}

main {
  font-family: "Cormorant", serif;
  font-size: 15pt;
  font-weight: 500;
  text-align: center;
  padding: 40px
}

#buttons {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  button {
    width: 200px;
    height: 100px;
  }
  #buyGuideBtn {
    background-color: #cad8a3;
  }
  #aboutBtn {
    background-color: #fda701;
  }
}

#imgFooter {
  display: flex;
  align-items: flex-end;
}

#myAccount-btn {
  display: none;
}

#nav-belt {
  background-color: #cad8a3;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#nav-main {
  background-color: #fda701;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

