body{
  margin: 0;
  padding: 0;
  background-color: #cad8a3;
  color: #372324;
}

button{
  padding: 10;
  margin: 0;
  border-radius: 25;
  color: #372324;
  background-color: #cad8a3;
}

p{
  padding: 0;
  margin: 0;
}

header {

}

#myAccount-btn {
  display: none;
}

#nav-belt {
  background-color: #f66024;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#nav-main {
  background-color: #fda701;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

